
.Cart-category {
    transition: .3s ease-in-out;

  
}
.Cart-category .img{
    display:'flex';
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
   
   
}
.Cart-category:hover{
    transform: scale(1.1);
    
    
}
