/* .cart{
    display:'flex';
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    background-color: rgb(188, 255, 3);
} */
.Cart-category {
    transition: .3s ease-in-out;
}
.Cart-category .img{
    display:'flex';
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
   
}
.Cart-category:hover{
    transform: scale(1.1);
    background-color: rgb(243, 139, 3);
    
}
