.Category {
   width: 80%;
   margin: auto;
}
.cat{
    padding:.5rem 0.1rem;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.cat img{
   width: 154px;
   height: 162px;
   object-fit: cover;
   background-size: cover;
   transition: .3s ease-in-out;
   cursor: pointer;
   background-color: #e8e8e8;
   margin-right: 28px;
   border-radius: 10px;
}
.cat img:hover{
   transform: scale(1.1);
}
/* top category */
.cartss.active{
  /* background-color: rgb(255, 145, 0); */
  opacity: .7;
  transition: .4s ease-in-out
  ;
}
.carts{
   /* background-color: #f00a0a; */
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0.7rem .37rem;
   margin-top: 30px;
}