.contanerer{
    padding: 0 15rem;
}
 .header h3{
    margin-bottom: 0;
    font-size: 20px;
    
   }
   .header .line{
       width:40px ;
       height: 2px;
       border:1px solid #ca0cad;
       display: flex;
       margin-top: 4px;
       background-color: #cc0dbc;
       
   }
   .card{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(15rem, 1fr));
    gap: 1.5rem;
    margin-top: 10px;margin-bottom: 30px;
    /* background-color: aqua; */
   }